<% provide :page_title, t('other.profile_editing') %>

<%= content_tag(:h1, t('titles.account_edit'), class: 'text-left fw-light') %>

<div class="row">
  <div class="col-md-6 buffer-top">
    <%= render 'form' %>

      <%# Ссылка на смену пароля текущего залогиненного юзера (этот путь %>
      <%# генерит девайз) %>
      <%= content_tag(:p, link_to(t('buttons.password_edit'),
      edit_user_registration_path), class: 'buffer-top') %>
  </div>
</div>
