<head>
  <script src="https://api-maps.yandex.ru/2.1/?apikey=<%= Rails.application.credentials.dig(:maps, :api_key) %>&lang=ru_RU" type="text/javascript"></script>
  <%= javascript_pack_tag 'map' %>
</head>

</p>
  <button class="btn btn-warning active btn-sm fs-5" type="button" style="width: 180px; height: 35px;" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <%= t('text.show_on_map') %>
  </button>
</p>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <div class="modal-dialog modal-l">
			<div class="modal-content">
				<div class="modal-header">
					<div id="map" data-address="<%= @event.address %>" style="width: 600px; height: 350px"></div>
				</div>
			</div>
    </div>
  </div>
</div>